<%- include('partials/header'); -%>
<style>
  .crops-div-main h2{
    font-size: 3em;
    text-align: left;
  }
</style>
</head>
<body>
  
<nav class="navbar navbar-expand-lg text-white">
  <a class="navbar-brand ms-3" href="#">AGROW</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto me-2">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/signup">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>

<div class="home-page-image-div">
  <img src="/images/My project.png" class="home-page-img">
  <div class="intro-div">
    <h1 >Agricultural auctions and Sales</h1>
    <hr />
    <p style="color:white;">
      Agricultural bidding refers to a process in which agricultural products or services are offered for sale to the highest bidder. The bidding process is typically conducted through an auction, either in-person or online, and allows farmers or producers to sell their crops, livestock, or other agricultural products to buyers who are willing to pay the highest price.<br>

Agricultural bidding can be used for a variety of purposes, including the sale of crops, livestock, land, or agricultural equipment. In some cases, bidding may be used to sell surplus inventory or to dispose of products that are no longer needed.<br>

Bidding in agriculture is often used as a price discovery mechanism to determine the market value of agricultural products. This can be beneficial for both buyers and sellers, as it allows them to make informed decisions about the value of their products or the prices they are willing to pay.<br>

Overall, agricultural bidding can be an effective way for farmers, producers, and buyers to exchange agricultural products in a transparent and competitive marketplace.
  </p>
  </div>
</div>

<div class="crops-div-main">
  <img src="/images/wp5520692-the-farmer-wallpapers.jpg">
  <div style="padding-top:50px; margin-left:50px;">
    <h2>See what all u can sell</h2>
    <h2>Get huge profit from auctions...</h2>
  </div>
  <div class="crops-div-wrapper">
    <div class="crops-div">
      <h2>Vegetables</h2>
      <img src="/images/front-view-vegetable.jpg">
    </div>
    <div class="crops-div">
      <h2>Oil</h2>
      <img src="/images/soybean-oil-soybean-food-beverage-products-food-nutrition-concept.jpg">
    </div>
    <div class="crops-div">
      <h2>Pulses</h2>
      <img src="/images/various-legumes.jpg">      
    </div>
  </div>
  
</div>
<footer>
  <div class="footer" id="contact-us">
    <div class="">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-youtube"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
    </div>
    <br />

    <div class="row">
      <ul>
        <li><a href="#">Contact us</a></li>
        <li><a href="#">Our Services</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="#">Career</a></li>
      </ul>
    </div>

    <div class="row">
      <p>AGROW © 2021 - All rights reserved</p>
    </div>
  </div>
</footer>
<%- include('partials/footer'); -%>
